<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header " />

<body>


	<!-- Static navbar -->

	<div th:replace="common/header :: navbar" />

	<div class="container">

		<div class="row" style="margin-bottom: -100px;">

			<div class="col-8">
				<h2 class="section headline">
					<span>User Account</span>
				</h2>
			</div>
			<div class="col-4">
				<img src=/image/logo2.png class="img-fluid">
			</div>

		</div>
		<hr
			style="position: absolute; width: 100%; height: 4px; background-color: #333; z-index: -1; margin-top: -80px;">

		<img src="/image/banner3.jpg" class="img-fluid" alt="Responsive image"
			style="margin: -75px; margin-left: auto; margin-right: auto; width: 100%">

	</div>


	<div class="row" style="margin: 60px;">
		<div class="col-6 col-offset-5">



			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
				<li th:classappend="${classActiveNewAccount}? 'active'" class="nav-item"><a class="nav-link" href="#tab-1"
					data-toggle="tab"><span style="color: red;">Create new
							account</span></a></li>
				<li th:classappend="${classActiveLogin}? 'active'" class="mav-item"><a class="nav-link active" href="#tab-2"
					data-toggle="tab"><span style="color: red;">Login</span></a></li>
				<li th:classappend="${classActiveForgetPassword}? 'active'" class="mav-item"><a class="nav-link" href="#tab-3"
					data-toggle="tab"><span style="color: red;">Forgot my
							password</span></a></li>

			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				
				<!--  log in (carefull with the tabs id's) -->
				<div class="tab-pane fade show active" id="tab-2" th:classappend="${classActiveLogin}? 'in active'">
					<div class="panel-group">
						<div class="panel panel-default" style="border: none;">

							<div class="panel-body"
								style="background-color: #ededed; margin-top: 20px;">
								<div th:if="${param.error != null}" style="color:red">Incorrect username or password.</div>
								<form th:action="@{/Login}" method="post" >
									<div class="form-group">
										<label for="newUsername">* Username</label> <input
											required="required" type="text" class="form-control"
											id="newUsername" name="username" />
										<p style="color: #383838">Enter your username here.</p>

									</div>
									<div class="form-group">
										<label for="password">* Password</label> <input
											required="required" type="password" class="form-control"
											id="password" name="password" />
										<p style="color: #383838">Enter the password for your
											account</p>

									</div>
									<button type="submit" class="btn btn-primary">Login</button>


								</form>

							</div>
						</div>
					</div>
				</div>
				
				<div class="tab-pane fade " id="tab-1" th:classappend="${classActiveNewAccount}? 'in active'">
					<div class="panel-group">
						<div class="panel panel-default" style="border: none;">

							<div class="panel-body"
								style="background-color: #ededed; margin-top: 20px;">
								<div class="alert alert-info" th:if="${emailSent}">
								An email has been sent to the email address you just registered.
								 Please validate your email and update password information. 
								</div>
								<form th:action="@{/newUser}" method="POST" >
									<div class="form-group">
										<label for="newUsername">* Username</label>&nbsp;<span style="color : red;" th:if="${usernameExists}">
										Username already exists. Chose a different one.</span> 
										<input
											required="required" type="text" class="form-control"
											id="newUsername" name="username" />
										<p style="color: #383838">Enter your username here.</p>

									</div>
									<div class="form-group">
										<label for="email">* Email Address</label><span style="color : red;" th:if="${emailExists}">
										Email already exists. Chose a different one.</span> 
										 <input
											required="required" type="text" class="form-control"
											id="email" name="email" />
										<p style="color: #383838">A valid email address.</p>

									</div>
									<button type="submit" class="btn btn-primary">Create
										new account</button>


								</form>

							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="tab-3"th:classappend="${classActiveForgetPassword}? 'in  active'" >
					<div class="panel-group">
						<div class="panel panel-default" style="border: none;">

							<div class="panel-body"
								style="background-color: #ededed; margin-top: 20px;">
								<div th:if="${emailNotExist}" class= " alert alert-danger">Email does not exist.</div>
								<div th:if="${forgetPasswordEmailSent}" class= " alert alert-succes">Email sent.</div>
								<form th:action="@{/forgetPassword}" method="post" >
									<div class="form-group">
										<label for="recoverEmail">* Your email:</label> <input
											required="required" type="text" class="form-control"
											id="recoverEmail" name="email" />
										<p style="color: #383838">Enter your email.</p>

									</div>

									<button type="submit" class="btn btn-primary">Submit</button>


								</form>

							</div>
						</div>
					</div>
				</div>



			</div>
		</div>
	</div>
</body>


<!-- end of container -->





<div th:replace="common/header :: body-bottom-scripts" />

</html>
